/* @import 'https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/Loma/Loma.css'; */
body {
  font: 1.3rem Inconsolata, monospace;
  font-size: 25px;
  border: 1px solid black;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
}

b {
  font: 1.3rem Inconsolata, monospace;
}

center {
  font: 1.3rem Inconsolata, monospace;
  font-size: 25px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

input {
  font: 1.3rem Inconsolata, monospace;
  font-size: 18px;
  border: 2px solid blue;
  width: 80%;
}
pre {
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 15px;
}

footer {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}